<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mikrotik metrics exporter</title>
    <style>
        body{ font-family: Arial, Helvetica, sans-serif; }
    </style>
</head>
<body>
    <h2>Welcome to the api parser</h2>
    <h4>Here are links you might like:</h4>
    <ul>
        <li> <a href="/metrics">Metrics page</a> </li>
        <li> <a href="/config/update">Reload config file</a> </li>
    </ul>
    <p>May be some help page in future</p>
    <img src="/imgs/gears.gif" alt="" height="200px">
</body>
</html>